mat-dialog-content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  mat-progress-spinner {
    align-self: center;
  }
  input {
    text-align: center;
    width: 100%;
  }
}
#error {
  color: var(--warn-color);
  text-align: center;
  font-size: 24px;
}
mat-dialog-actions {
  margin-top: -1.5rem;
}
