<ng-container *ngIf="!creationWay; else chosen">
  <h1>Choose the way of creating the lection</h1>
  <div class="container">
    <div (click)="creationWay = 'editor'" matRipple>
      <span class="name">Editor</span>
      <span class="material-icons-outlined"> note_alt </span>
    </div>
    <div (click)="creationWay = 'links'" matRipple>
      <span class="name">Links</span>
      <span class="material-icons-outlined"> link </span>
    </div>
  </div>
</ng-container>
<ng-template #chosen>
  <div class="flex">
    <creation-buttons
      (onApprove)="lectionCreationService.onLectionCreationApproval()"
      (onCancel)="creationWay = null"
    ></creation-buttons>
    <general-info
      (onLectionCreationApprove)="lectionCreationService.addGeneralInfo($event)"
    >
    </general-info>
    <ng-container *ngIf="creationWay === 'editor'; else links">
      <editor-creation-way></editor-creation-way>
    </ng-container>
    <ng-template #links>
      <lection-creation-items></lection-creation-items>
    </ng-template>
  </div>
</ng-template>
