.host {
  flex: 2 0 400px;

  margin-inline: 1.5rem;
}
.container {
  max-width: 1058px;
  border-radius: 14px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
  .ql-syntax {
    font-family: monospace;
  }
}
.ql-container {
  max-height: 455px !important;
  overflow: auto !important;
}
.ql-editor.ql-blank::before,
.ql-options .ql-picker-item,
.ql-toolbar.ql-snow .ql-picker-label {
  color: var(--text-color);
}
.ql-snow {
  .ql-fill {
    fill: var(--text-color);
  }
  .ql-stroke {
    stroke: var(--text-color);
  }
}

.ql-formats {
  border: 1px solid var(--text-color);
  margin-block: 0.25rem;
}
.editor-styles {
  font-size: 20px;
  min-height: 250px;
}
.ql-font-fira,
[data-label="Fira Sans"]::before {
  font-family: "Fira Sans";
}
.ql-font-sans-serif {
  font-family: sans-serif;
}
.ql-font-roboto,
[data-label="Roboto"]::before {
  font-family: "Roboto";
}
@media (max-width: 875px) {
  .container {
    margin-top: 1.25rem;
  }
}
