<div *ngIf="courseItemGeneralInfo.topic as topic" id="topic">
  {{ topic }}
</div>
<h3>
  {{ courseItemGeneralInfo.title }}
</h3>
<ng-container *ngIf="loading; else content">
  <mat-progress-spinner
    class="spinner"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <ng-content select="course-item-options"></ng-content>
  <main>
    {{ courseItemGeneralInfo.description }}
  </main>
  <time>
    24.05.2022
    <span class="deadline"
      ><ng-content select="course-item-add-time"></ng-content
    ></span>
  </time>
</ng-template>
