<ng-container *ngIf="windowWidth >= 768; else small">
  <button [routerLink]="['/']" mat-button tabindex="-1">
    <span class="material-icons">bookmarks</span>
    Tasker
  </button>
  <button mat-button tabindex="-1">
    <span class="material-icons">folder</span>
    My Courses
  </button>
  <button mat-button tabindex="-1">
    <span class="material-icons">bolt</span>
    Skills
  </button>
  <button
    id="add-course"
    mat-button
    [matMenuTriggerFor]="courseActions"
    tabindex="-1"
  >
    <span class="material-icons-outlined"> add_circle_outline </span>
  </button>
  <mat-menu #courseActions="matMenu">
    <button mat-menu-item>Join a course</button>
    <button mat-menu-item>Create a course</button>
  </mat-menu>
</ng-container>
<ng-template #small>
  <button
    id="showNav"
    #showNav="showNav"
    [showSmallNav]="smallNav"
    mat-icon-button
  >
    <span class="material-icons">menu</span>
  </button>
</ng-template>
<ng-template #smallNav>
  <ul>
    <li (click)="showNavDirective.closeTab()" [routerLink]="['/']">
      <a class="material-icons">bookmarks</a>Tasker
    </li>
    <li (click)="showNavDirective.closeTab()">
      <a class="material-icons">folder</a>My Courses
    </li>
    <li (click)="showNavDirective.closeTab()">
      <a class="material-icons">bolt</a>Skills
    </li>
  </ul>
</ng-template>
