.cover {
  height: calc(100vw / 3);
  width: 100vw;

  box-shadow: inset 0px -20px 35px 10px rgb(0, 0, 0, 0.78);

  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.stars {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 22px;
  color: #fff;
  word-spacing: -3px;
  & > span {
    position: relative;
    bottom: 3px;
  }
}
.course-sphere {
  position: absolute;
  color: #fff;
}

@media (max-width: 768px) {
  .cover {
    background-attachment: initial;
    width: 208px;
    height: 208px;
    border-radius: 50%;
    box-shadow: none;

    margin: 0 auto;
  }
}
