<ng-container *ngIf="course$ | async as course">
  <header>
    <section [courseCover]="course.coverURL"></section>
    <div class="info">
      <ng-container
        position="right"
        [fontSize]="34"
        [courseSphere]="course.sphere"
      ></ng-container>
      <h1>{{ course.name }}</h1>
      <button
        class="course-join-leave"
        *ngIf="role !== 'admin'"
        mat-flat-button
        color="primary"
        (onRoleChange)="roleChanged($event)"
        [toggleCourse]="role"
        [courseId]="course.id"
      ></button>
    </div>
  </header>
</ng-container>
<ng-template adHost> </ng-template>
