<h1 class="mat-display-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ea eius
  dolorum, commodi placeat laboriosam mollitia minima praesentium reiciendis
  autem incidunt. Amet impedit corporis nulla dolorum unde sint quod, earum vel
  in quisquam est quos aspernatur odio ut ex commodi, illum alias praesentium
  dolores architecto. Aut quisquam expedita reiciendis rem.
</h1>
<h1 class="mat-display-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ea eius
  dolorum, commodi placeat laboriosam mollitia minima praesentium reiciendis
  autem incidunt. Amet impedit corporis nulla dolorum unde sint quod, earum vel
  in quisquam est quos aspernatur odio ut ex commodi, illum alias praesentium
  dolores architecto. Aut quisquam expedita reiciendis rem.
</h1>
