@use "@angular/material" as mat;
@use "dark-color-variables" as dark;
@use "light-color-variables" as light;
@use "directives" as directives;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
@import "~quill/dist/quill.snow.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

:root {
  --primary-color: #{light.$primary};
  --accent-color: #{light.$accent};
  --warn-color: #{light.$warn};
  --text-color: #{light.$text};
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  color: #fff;
}

@include mat.core();

// light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette, "A200");
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);
@include mat.all-component-themes($light-theme);

// dark theme
$dark-primary: mat.define-palette(mat.$purple-palette);
$dark-accent: mat.define-palette(mat.$green-palette, "A200");
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);
.material-icons,
.material-icons-outlined {
  font-family: "Material Icons", sans-serif;
}
.dark-theme {
  @include mat.all-component-themes($dark-theme);
  --primary-color: #{dark.$primary};
  --accent-color: #{dark.$accent};
  --warn-color: #{dark.$warn};
  --text-color: #{dark.$text};
  --quill-border-color: #fafafa;
}
.no-account {
  color: var(--warn-color);
  font-size: 75%;
  margin-top: -0.5rem;
}
