@use "sass:color";
:host {
  flex: 1 0 300px;
  padding: 0.75rem;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 8px;
  display: flex;
  margin: 0.25rem;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  :host-context(.dark-theme) &:hover {
    background-color: color.scale(#303030, $lightness: 10%);
  }
  &:hover {
    border-color: var(--primary-color);
    background-color: color.scale(#f0f0f0, $lightness: -5%);
    & ::ng-deep .link-url {
      text-decoration: underline;
    }
  }
  & ::ng-deep .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 56px;
    height: 56px;
    margin-right: 0.25rem;
  }
}
// todo: fix css
.info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  h2.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.25rem;
  }
}
@media (max-width: 650px) {
  // :host {
  //   flex-grow: 1;
  //   flex-shrink: 0;
  //   max-width: 300px;
  // }
}
