:host {
  margin: 1.5rem;
  display: flex;
  flex-flow: column;
}
mat-chip-list {
  align-self: center;
  mat-chip {
    user-select: none;
    cursor: pointer;
  }
}
button[mat-fab] {
  font-size: 26px;
  margin-block: 0.75rem;
  align-self: center;
}
.scroll-helper {
  display: block;
}
.error {
  margin-bottom: 0.75rem;
  color: var(--warn-color);
  font-size: 18px;
  font-weight: bold;
  align-self: center;
}
