:host {
  // display: block;
  margin: 1.5rem;
  display: flex;
  flex-flow: column;
}
mat-chip-list {
  align-self: center;
  mat-chip {
    user-select: none;
    cursor: pointer;
  }
}
button[mat-fab] {
  font-size: 26px;
  margin-top: 0.75rem;
  align-self: center;
}
