<ng-container *ngIf="hovered && !loading">
  <span
    (click)="openPanel()"
    [style.left.px]="3"
    *ngIf="closed; else opened"
    class="material-icons-outlined open-close"
  >
    arrow_back_ios
  </span>
  <ng-template #opened>
    <span (click)="closePanel()" class="material-icons-outlined open-close">
      arrow_forward_ios
    </span>
  </ng-template>
</ng-container>
<ng-container *ngIf="loading; else notLoading">
  <mat-spinner
    #spinner="matProgressSpinner"
    mode="indeterminate"
    [diameter]="40"
  ></mat-spinner>
</ng-container>
<ng-template #notLoading>
  <button (click)="onCancel.emit()" color="warn" mat-fab>
    <span class="material-icons-outlined"> close </span>
  </button>
  <button
    (click)="onApprove.emit(); loading = true; hovered = true"
    color="primary"
    mat-fab
  >
    <span class="material-icons-outlined"> done </span>
  </button>
</ng-template>
